.btn{
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  font-size: 1.4rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  width: 155px;
  height: 37px;
  >a{
    display: inline-block;
    color: #fff;
    padding:8px 35px;
  }
}
.cmn__title{
  font-size: 3.2rem;
  text-align: center;
  @include sp{
    font-size: 2.4rem;
  }
}
.cmn__sub__title{
  font-size: 1.6rem;
  color: #3BA6C9;
  text-align: center;
  padding-top: 20px;
  @include sp{
    font-size: 1.4rem;
  }
}
.font--bold{
  font-weight: bold;
}